### 기본 ###
node_modules/
dist/
build/

### pnpm ###
.pnpm-store/

### React ###
.DS_Store
*.log
logs/
**/*.backup.*
**/*.back.*
*.sublime*
*.psd
*.thumb
*.sketch

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

### 기타 ###
.env
.vscode/
